@import url("pretendard/dist/web/static/pretendard.css");

body {
  font-family: "Pretendard", sans-serif;
}

:root {
  --font-primary: "Pretendard", sans-serif;

  --regular: 400;
  --medium: 500;
  --bold: 700;

  --primary: #3182f6;
  --secondary: #18cb63;
  --tertiary: #ff5c00;
  --primary-txt: #191f28;
  --secondary-txt: #4e5968;
  --tertiary-txt: #6b7684;
  --default-background: #f5f6f8;
  --border: #dddddd;
}
