<div class="footer-inner">
  <div class="top">
    <h1 class="f-logo"><img src="img/comn/f-logo.png" alt="" /></h1>
    <p class="sns-list">
      <a href="#"><img src="img/comn/youtube.png" alt="" /></a>
      <a href="#"><img src="img/comn/insta.png" alt="" /></a>
      <a href="#"><img src="img/comn/x.png" alt="" /></a>
    </p>
  </div>
  <div class="bottom">
    <div class="left">
      <p class="ftr_nav">
        <a href="#">서비스 소개</a>
        <a href="#">개인정보처리방침</a>
        <a href="#">청소년보호방침</a>
        <a href="#">자주묻는질문</a>
        <a href="#">광고문의</a>
        <a href="#">고객센터</a>
      </p>
      <p class="ftr_info">
        <span>(주) 축구이모저모</span>
        <span>대표 신민석</span>
        <span>사업자등록번호 990422</span>
        <span>서울시 금천구 독산동 이모저모 빌딩 13층-1 202호 </span>
      </p>
      <p class="ftr_info mb46">
        <span>대표전화: 010-7558-9904</span>
        <span>이메일: tlsalstjr422@naver,com</span>
      </p>
      <p class="copy">HEALTHPRO LAB ALL RIGHTS RESERVED.</p>
    </div>
    <div class="right">
      <div class="family-site">
        <select class="select">
          <option value="" disabled="" selected="">FAMILY SITE</option>
          <option value="">HEALTH NOTE</option>
          <option value="">PA TEST</option>
          <option value="">PA KIDS</option>
          <option value="">BE ONE TEAM</option>
          <option value="">HealthPro LAB</option>
        </select>
      </div>
    </div>
  </div>
</div>
