<div class="header-inner">
  <div class="top">
    <h1 class="logo">
      <a href="index.html"><img src="img/comn/h-logo.png" alt="" /></a>
    </h1>
    <div class="right-menu">
      <label>
        <input placeholder="검색어를 입력하세요" />
        <button><img src="img/comn/search.png" alt="" /></button>
      </label>
      <button type="button" class="search-mo">
        <img src="img/comn/search.png" alt="" />
      </button>
      <p>
        <a href="#" class="login">로그인</a>
        <a href="#" class="join">회원가입</a>
        <a href="#" class="mo">로그인</a>
      </p>
    </div>
  </div>
  <nav class="gnb">
    <ul>
      <li>
        <button type="button">
          <img src="img/comn/m-menu.png" alt="" />
        </button>
      </li>
      <li><a href="insights/gridpage.html" target="_blank">전체소식</a></li>
      <li>
        <a href="insights/ol-gridpage.html" target="_blank">이적소식</a>
      </li>
      <li>
        <a href="public-trust/report-table.html" target="_blank">기자 공신력</a>
      </li>
      <li>
        <a href="league-center/ranking.html" target="_blank">리그순위</a>
      </li>
      <li><a href="column/column-list.html" target="_blank">축구칼럼</a></li>
      <li>
        <a href="faq/faq.html" target="_blank">자주 묻는 질문</a>
      </li>
    </ul>
    <a href="public-trust/report-table.html" class="table-btn"
      >공신력 등급 표</a
    >
  </nav>
</div>
