.article-inner {
  max-width: 1000px;
  padding: 0 60px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 120px;
}

.sub-banner {
  margin-bottom: 120px;
}

.profile-b {
  display: flex;
  align-items: center;
  gap: 8px;
}

ul.info-list {
  display: flex;
  gap: 24px;
}

ul.info-list li span {
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--regular);
  color: var(--tertiary-txt);
}

ul.info-list li span:last-child {
  color: var(--primary-txt);
  margin-left: 16px;
  position: relative;
}

ul.info-list li span:last-child::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: var(--border);
  left: -9px;
  top: 2px;
}

/* -----테블렛------- */

@media (max-width: 1024px) {
  .article-inner {
    padding: 0 40px;
    margin-bottom: 80px;
  }

  ul.info-list {
    flex-wrap: wrap;
    gap: 6px 18px;
  }
}

/* -----모바일------- */

@media (max-width: 767px) {
  .article-inner {
    margin-top: 20px;
    padding: 0 16px;
    margin-bottom: 60px;
  }
}

/* -----------------뷰페이지-------------------- */

article {
  margin-bottom: 80px;
}

article .view-top {
  margin-bottom: 24px;
}

article .view-top .trust {
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--regular);
  color: var(--primary);
  margin-bottom: 8px;
  display: block;
}

article .view-top h3.tit {
  margin-bottom: 10px;
}

article .view-top .view-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article .view-top .view-sub .view-btn-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

article .view-top .view-sub .view-btn-list button {
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 50%;
}

article .view-top .view-sub .view-btn-list button:hover {
  background: var(--default-background);
}

article .view-top .view-sub .view-btn-list button.link:hover {
  background: var(--primary);
}

article .view-top .view-sub .view-btn-list .link {
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--medium);
  background: var(--primary-txt);
  width: 130px;
  padding: 10px;
  color: #fff;
  border-radius: 50px;
}

article .view-content img {
  background: #ddd;
  border-radius: 8px;
  margin-bottom: 24px;
}

article .view-content .view-txt {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  gap: 28px;
}

article .view-content .view-txt p {
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--regular);
  color: var(--tertiary-txt);
  text-align: left;
}

article .view-content ul.hashtag {
  display: flex;
  gap: 12px;
}

article .view-content ul.hashtag li {
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--regular);
  color: var(--tertiary-txt);
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 8px 18px;
  transition: all 0.5s ease;
}

article .view-content ul.hashtag li:hover {
  background: var(--default-background);
}

.report-info {
  margin-bottom: 80px;
}

.report-info h3.tit {
  margin-bottom: 24px;
}

.report-info .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.report-info .top a {
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--medium);
  color: var(--tertiary-txt);
  background: var(--default-background);
  padding: 12px 26px;
  border-radius: 4px;
  transition: all 0.5s ease;
}

.report-info .top a:hover {
  background: var(--primary);
  color: #fff;
}

.report-info ul.info-list {
  margin-bottom: 12px;
}

.report-info .explan {
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--regular);
  color: var(--tertiary-txt);
  margin-bottom: 34px;
}

.report-info .trust-bottom {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.comment-inner {
  margin-bottom: 28px;
}

.comment-inner .sub-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.comment-inner .sub-menu .num {
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  display: inline-block;
  font-weight: var(--medium);
  background: var(--primary);
  padding: 2px 16px;
  border-radius: 50px;
  margin-left: 8px;
}

.comment-inner .sub-menu .btn-group button {
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--regular);
  color: var(--tertiary-txt);
}

.comment-inner .sub-menu .btn-group button:first-child {
  position: relative;
  margin-right: 12px;
}

.comment-inner .sub-menu .btn-group button:first-child::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: var(--border);
  right: -10px;
  top: 5px;
}

.comment-inner .sub-menu .btn-group button.on {
  color: var(--primary-txt);
}

.comment-inner .form-box .com-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
}

.com-face {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
}

.comment-inner .form-box .com-wrap textarea {
  font-family: var(--font-primary);
  width: calc(100% - 52px);
  background: var(--default-background);
  border: 1px solid transparent;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--regular);
  color: var(--tertiary-txt);
  height: 50px;
  border-radius: 8px;
  transition: all 0.5s ease;
  outline: none;
}

/* Hover 효과 */
.comment-inner .form-box .com-wrap textarea:hover {
  border-color: #b0b8c1;
}

/* Focus 효과 */
.comment-inner .form-box .com-wrap textarea:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 3px rgba(49, 130, 246, 0.3); /* #3182f6 기반 하이라이트 */
}
.comment-inner .form-box .com-wrap textarea::placeholder {
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--regular);
  color: var(--tertiary-txt);
}

.comment-inner .form-box .com-btn {
  display: flex;
  justify-content: flex-end;
}

.comment-inner .form-box .com-btn button {
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--medium);
  color: var(--tertiary-txt);
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 8px 20px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.comment-inner .form-box .com-btn button:hover {
  background: var(--default-background);
}

.comment-inner .form-box .com-btn button.submit {
  background: var(--primary);
  border: 1px solid var(--primary);
  color: #fff;
  margin-left: 10px;
}

.comment-inner .form-box .com-btn button.submit:hover {
  border: 1px solid var(--primary);
  background: #1957c2;
}

.comment-inner ul.comment-list li {
  padding: 24px 0;
  border-bottom: 1px solid var(--border);
}

.comment-inner ul.comment-list li .profile-b {
  margin-bottom: 10px;
}

.comment-inner ul.comment-list li .com-txt {
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--regular);
  color: var(--tertiary-txt);
  margin-bottom: 20px;
}

.comment-inner ul.comment-list li .bottom {
  display: flex;
  align-items: center;
  gap: 16px;
}

.comment-inner ul.comment-list li .bottom p {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.comment-inner ul.comment-list li .bottom p svg {
  cursor: pointer;
}

.comment-inner ul.comment-list li .bottom span {
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--regular);
  color: var(--tertiary-txt);
}

/* -----테블렛------- */

@media (max-width: 1024px) {
  article .view-top {
    margin-bottom: 18px;
  }

  article .view-content img {
    margin-bottom: 18px;
  }

  article .view-content ul.hashtag {
    flex-wrap: wrap;
    gap: 6px 10px;
  }

  article .view-content .view-txt {
    margin-bottom: 24px;
    gap: 20px;
  }

  

  .report-info .top {
    margin-bottom: 16px;
  }

  .report-info .explan {
    margin-bottom: 24px;
  }

  .report-info .trust-bottom {
    flex-direction: column;
    gap: 14px;
  }

  .comment-inner .sub-menu .num {
    font-size: 16px;
    margin-left: 6px;
    padding: 2px 14px;
  }

  .report-info .trust-bottom .chart-wrap span {
    width: 50px;
  }

  .report-info .trust-bottom .chart-wrap .bar-bg {
    width: calc(100% - 50px);
  }

  .comment-inner .sub-menu {
    margin-bottom: 18px;
  }
  .com-face {
    width: 28px;
    height: 28px;
  }

  .comment-inner ul.comment-list li {
    padding: 20px 0;
  }

  .news-table ul.table > li > .content > .txt > h5.trust-100::after {
    width: 24px;
    height: 24px;
    margin-left: 4px;
    margin-bottom: -8px;
  }
}

@media (max-width: 767px) {
  article {
    margin-bottom: 40px;
  }

  article .view-top .view-sub {
    flex-wrap: wrap;
    gap: 18px;
  }

  article .view-top {
    margin-bottom: 12px;
  }

  article .view-top .view-sub .view-btn-list .link {
    font-size: 13px;
    width: 110px;
    padding: 8px;
  }

  article .view-content .view-txt {
    margin-bottom: 18px;
    gap: 16px;
  }

  article .view-top .view-sub .view-btn-list {
    gap: 6px;
  }

  article .view-top .view-sub .view-btn-list button svg {
    width: 36px;
    height: 36px;
  }

  article .view-content ul.hashtag li {
    padding: 6px 10px;
  }

  article .view-content img {
    margin-bottom: 10px;
  }

  .report-info {
    margin-bottom: 40px;
  }

  .comment-inner {
    margin-bottom: 14px;
  }

  .comment-inner .sub-menu .num {
    font-size: 14px;
    line-height: 22px;
    margin-left: 4px;
    padding: 2px 12px;
  }

  .comment-inner .form-box {
    margin-bottom: 18px;
  }

  .comment-inner .form-box .com-wrap {
    gap: 12px;
  }

  .comment-inner ul.comment-list li .profile-b {
    margin-bottom: 6px;
  }

  .comment-inner ul.comment-list li {
    padding: 16px 0;
  }

  .comment-inner ul.comment-list li .com-txt {
    margin-bottom: 10px;
  }

  .comment-inner ul.comment-list li .bottom {
    gap: 10px;
  }

  .comment-inner ul.comment-list li .bottom p {
    gap: 2px;
  }

  .comment-inner .sub-menu {
    margin-bottom: 10px;
  }
}

/* -----------------리스트 페이지-------------------- */

.sub-inner .sub-top-news {
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
  overflow: hidden;
}

.sub-inner .sub-top-news ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: 522px;
  overflow: auto;
}

.sub-inner .sub-top-news .main-news {
  width: 50%;
}

.sub-inner .sub-top-news .main-news .main-card .txt-wrap h4 {
  margin-bottom: 28px;
  display: -webkit-box; /* 필수: 웹킷 기반 브라우저용 박스 */
  -webkit-box-orient: vertical; /* 축을 세로로 */
  -webkit-line-clamp: 2; /* 보여줄 줄 수 (여기서는 2줄) */
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* 말줄임표 */
  white-space: normal; /* 줄바꿈 허용 */
  line-height: 1.4; /* (선택) 줄높이 - 정확한 계산 위해 지정 권장 */
  max-height: calc(1.4em * 2); /* (선택) 안전장치: 2줄 높이로 제한 */
  word-break: break-word; /* 긴 단어 강제 줄바꿈 처리 */
}

.sub-inner .sub-top-news ul.list-news {
  width: 50%;
  overflow-y: auto; /* 세로 스크롤 */
  max-height: calc(160px * 3 + 48px); /* li 3개 + gap(24px*2) */
}

.sub-inner .sub-top-news ul.list-news li {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 0; /* 줄어들지 않게 */
}

.sub-inner .sub-top-news ul.list-news li img {
  border-radius: 8px;
}

.sub-inner .sub-top-news ul.list-news li .txt p.info {
  margin-bottom: 8px;
}

.sub-inner .sub-top-news ul.list-news li h5.tit {
  display: -webkit-box; /* 필수: 웹킷 기반 브라우저용 박스 */
  -webkit-box-orient: vertical; /* 축을 세로로 */
  -webkit-line-clamp: 1; /* 보여줄 줄 수 (여기서는 2줄) */
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* 말줄임표 */
  white-space: normal; /* 줄바꿈 허용 */
  line-height: 1.4; /* (선택) 줄높이 - 정확한 계산 위해 지정 권장 */
  max-height: calc(1.4em * 2); /* (선택) 안전장치: 2줄 높이로 제한 */
  word-break: break-word; /* 긴 단어 강제 줄바꿈 처리 */
  width: 94%;
}

@media (max-width: 1024px) {
  .sub-inner .sub-top-news {
    margin-bottom: 80px;
  }

  .sub-banner {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .sub-inner .sub-top-news {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .sub-banner {
    margin-bottom: 60px;
  }

  .sub-inner .sub-top-news ul {
    flex-direction: row;
  }

  .sub-inner .sub-top-news .main-news {
    width: 100%;
  }

  .sub-inner .sub-top-news ul {
    flex-direction: column;
  }

  .sub-inner .sub-top-news ul.list-news {
    width: 100%;
    flex-direction: column;
    max-height: 380px;
  }
}
